services:
  db:
    image: mysql:9.4.0-oracle
    container_name: db
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASSWORD}
      - MYSQL_DATABASE=${DB_NAME}
    volumes:
      - ../app/backend/init-scripts:/docker-entrypoint-initdb.d

  phpmyadmin:
    image: phpmyadmin:5.2.2
    container_name: phpmyadmin
    restart: always
    ports:
      - 3001:80
    environment:
      - PMA_ARBITRARY=1
    depends_on:
      - db

  php-apache:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: php
    ports:
      - 3000:80
    volumes:
      - ../app/frontend:/var/www/html
    depends_on:
      - db
    environment:
      - DB_HOST=${DB_HOST}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
  
