#nav-bar {
    width: 15vw;
    min-width: 162px;
}

#content {
    margin-left: 15vw;
}

#new {
    width: 8vw;
}

#dash-container {
    min-width: 100%;
}

.nav-link:hover {
    background-color: #eee;
}
